    <nav>
        <a class="navbar-brand hvr-icon-spin" href="./index.html">
            <div class="logo">
            <img src="./assets/images/badalona-logo.png" height="40" class="d-inline-block align-top hvr-icon">
            <br>
             BadaPaellas
            </div>
          </a>
        <div>&nbsp;</div>
        <div class="links text-center">
            <a href="./chefs.html" class="hvr-underline-from-center">Maestros Paelleros</a>
            <a href="./articulo.html" class="hvr-underline-from-center">La Tradición</a>
            <a href="./inscripcion.html" class="hvr-underline-from-center">Inscripción</a>
        </div>
    </nav>