<nav class="navbar">
    <a class="navbar__logo hvr-icon-spin" href="./index.html">
        <div class="logo">
            <img src="./assets/images/badalona-logo.png" height="40"
                class="logo__image d-inline-block align-top hvr-icon">
            <br>
            <span class="logo__text">BadaPaellas</span>
        </div>
    </a>
    <div class="navbar__spacer">&nbsp;</div>
    <div class="links text-center">
        <a href="./chefs.html" class="links__item hvr-underline-from-center">Maestros Paelleros</a>
        <a href="./articulo.html" class="links__item hvr-underline-from-center">La Tradición</a>
        <a href="./inscripcion.html" class="links__item hvr-underline-from-center">Inscripción</a>
    </div>
</nav>