@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// Colores principales de la web
$primary-color: rgb(255, 241, 1);
$background-color: #111111;

// Tamaños de la fuente para la versión para móviles
$font-size-responsive: 1rem;

// Tamaños de la fuente para la versión para dispositivos grandes
$font-size-med: 1.2rem;
$font-size-big: 1.4rem;

//Márgenes
$margin-size-small: 10px;
$margin-size-medium: 20px;
$margin-auto: auto 0;
$padding-size-small: 2vw;
$padding-size-medium: 1vw;


// Border standard a utilizar
$standard-border: rgb(255, 241, 1) solid 2px;

// Tamaños generales
$full-height: 100svh;
$full-width: 100vw;
$height-header-responsive: 10svh;
$height-nav-big: $height-header-responsive - 10svh;
$med-dev-min-width: 571px;
$big-dev-min-width: 992px;

