@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// Colores principales de la web
$primary-color: rgb(255, 241, 1);
$background-color: #111111;

// Color del Scroll
$scroll-color: $primary-color $background-color;

// Tamaños de la fuente para la versión para móviles
$font-size-responsive: 0.8rem;

// Tamaños de la fuente para la versión para dispositivos grandes
$font-size-big: 1.2rem;

// Border standard a utilizar
$standard-border: rgb(255, 241, 1) solid 2px;

// Tamaños generales
$full-height: 100vh;
$full-width: 100vw;
$height-header-responsive: 20vh;
$height-nav-big: $height-header-responsive - 10vh;
$med-dev-min-width: 571px;
$big-dev-min-width: 992px;

