@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// Colores principales de la web
$primary-color-lch : lch(82% 89 93);
$primary-color: #e2cc00;
$background-color-lch: lch(5.06% 0 0); 
$background-color: #111111;
$main-txt-shadow:  2px 2px 2px rgba(0, 0, 0, 0.5),
-2px -2px 2px rgba(0, 0, 0, 0.5),
0 0 2px rgba(0, 0, 0, 1);
// Tamaños de la fuente para la versión para móviles
$font-size-responsive: 1rem;

//Márgenes
$margin-size-small: 10px;
$margin-size-medium: 20px;
$margin-auto: auto 0;
$padding-size-small: 2vw;
$padding-size-medium: 1vw;


// Border standard a utilizar
$standard-border: $primary-color solid 2px;

// Tamaños generales
$full-height: 100dvh;
$full-width: 100vw;
$height-header-responsive: 10dvh;
$height-nav-big: $height-header-responsive - 10dvh;
$med-dev-min-width: 571px;
$big-dev-min-width: 992px;

